name: A workflow for my Hello World file
on: push

jobs:
  build:
    name: Hello world action
    runs-on: ubuntu-latest
    steps:
      - name: Simple Dotenv
        uses: xom9ikk/dotenv@v1.0.2
        with:
          path: ./env
      - uses: actions/checkout@v1
      - uses: ./action-a
        with:
          MY_NAME: ${{ env.docker_version }}
